{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<!-- Begin Page Content -->
    <div class="container-fluid vh-100 ">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Fetch and Analyse Tweets</h1>
        </div>

        <!-- Content Row -->
        <div class="row d-flex justify-content-center p-4">
            <div class="col-8 d-flex justify-content-center border rounded shadow bg-white">
                <form class="w-100 m-4 text-center" action="{% url 'analyse' %}" method="POST">
                    {% csrf_token %}
                    <div class="row d-flex justify-content-center">
                        <div class="form-group col-md-12">
                            <input type="text" class="form-control form-control-user w-100" id="topics" name="topics" placeholder="Enter Topics separated by comma (,)" required />
                        </div>
                        <!-- <div class="form-group col-md-6">
                            <input type="text" class="form-control form-control-user w-100" id="classifyText" name="classifyText" placeholder="Enter Text">
                        </div>
                        <div class="form-group col-6">
                            <input type="text" class="form-control form-control-user w-100" id="classifyText" name="classifyText" placeholder="Enter Text">
                        </div> -->
                             
                    </div>
                    <!--  <div class="mt-2 mb-4">
                        <button class="btn btn-secondary py-1 px-2"><i class="fas fa-plus"></i> Add topic</button>
                    </div> -->

                    <button type="submit" class="btn btn-primary py-2 px-4">Analyse</button>
                </form>
            </div>
        </div>

        <div class="row text-center mx-4 p-4">
            {% if content %}
                <h6>Sentiment: {{ content }} </h6>
            {% else %}
                <h6>Nothing to show here</h6>
            {% endif %}
        </div>

        

    <!-- /.container-fluid -->
    </div>
<!-- End of Main Content -->

{% endblock content %}